<!-- <div
  class="modal"
  
> -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"></div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-7 col-sm-12 backgroundWhite">
          <div class="row">
            <div class="col-md-7 col-sm-12 backinsideBor">
              <div class="profileIcon">
                <img src="../../assets/images/propic.png" />
              </div>
              <div class="titleModal">
                <h3>John Smith</h3>
                <h5>Allergy</h5>
              </div>
              <div class="detailsJ">
                <h6>DOB</h6>
                <h5>03/03/1998</h5>
              </div>
              <div class="detailsJ">
                <h6>Age</h6>
                <h5>24y 4m</h5>
              </div>
              <div class="detailsJ">
                <h6>Weiight</h6>
                <h5>168 lb</h5>
              </div>
              <div class="detailsJ">
                <h6>Height</h6>
                <h5>5'9"</h5>
              </div>

              <div class="button">
                <button class="btnGreen">SEND MESSAGE</button>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="detailsADD">
                <h6>Home Address</h6>
                <h5>
                  123 Boradway <br />
                  New York, NY,10012
                </h5>
              </div>
              <div class="detailsADD">
                <h6>Mobile Phone #</h6>
                <h5>917(543)-1234</h5>
              </div>
              <div class="detailsADD">
                <h6>Home Phone #</h6>
                <h5>212(123)-1234</h5>
              </div>
              <div class="detailsADD">
                <h6>Work Phone #</h6>
                <h5>718(702)-9876</h5>
              </div>
              <div class="detailsADD">
                <h6>Email</h6>
                <h5>j.smith@gmail.com</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="col-md-12 col-sm-12 rightModal backgroundWhite">
            <div class="titlerightModal">
              <h3>
                Current medications
                <span class="plusIcon"
                  ><i class="fa fa-plus"></i
                  ><span class=""
                    ><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span
                ></span>
              </h3>
              dots
            </div>
            <div class="medition">
              <i class="fa fa-medkit"></i
              ><span class="meditionDetail">Desloratadine (Clarinex)</span>
            </div>
            <div class="medition">
              <i class="fa fa-medkit"></i>
              <span class="meditionDetail">Ketorolac (Clarinex)</span>
            </div>
            <div class="medition">
              <i class="fa fa-medkit"></i>
              <span class="meditionDetail">Desloratadine (Clarinex)</span>
            </div>
            <div class="medition">
              <i class="fa fa-medkit"></i>
              <span class="meditionDetail">Desloratadine (Clarinex)</span>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 rightModal backgroundWhite">
            <div class="titlerightModal">
              <h3>
                Vitals<span class="plusIcon"
                  ><i class="fa fa-plus"></i
                  ><span class="dots"
                    ><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span
                ></span>
              </h3>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="symbols">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <h4>Blood Pressure</h4>
                <h2>121/75</h2>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="symbols">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                <h4>Puls</h4>
                <h2>67<span class="megerMent">BPM</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 backgroundWhite">
          <div class="col-md-12 col-sm-12 rightModal backgroundWhite">
            <div class="titlerightModal">
              <h3>
                Note<span class="plusIcon"
                  ><i class="fa fa-plus"></i
                  ><span class="dots"
                    ><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span
                ></span>
              </h3>
            </div>
            <div class="minHeigh200">
              <div class="NoteInside">
                <div class="date">06/01/2020</div>
                <p>
                  In publishing and graphic design, Lorem ipsum is a placeholder
                  text commonly used to demonstrate the visual form of a
                  document
                </p>

                <p>
                  In publishing and graphic design, Lorem ipsum is a placeholder
                  text commonly used to demonstrate the visual form of a
                  document
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 backgroundWhite">
          <div class="col-md-12 col-sm-12 rightModal backgroundWhite">
            <div class="titlerightModal">
              <h3>
                Lab Result
                <span class="plusIcon"
                  ><span class="dots"
                    ><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span
                ></span>
              </h3>
            </div>
            <div class="minHeigh200">
              <div class="medition lsbRicon">
                <i class="fa fa-file-text-o" aria-hidden="true"></i
                ><span class="meditionDetail">Desloratadine (Clarinex)</span>
              </div>
              <div class="medition lsbRicon">
                <i class="fa fa-file-text-o" aria-hidden="true"></i
                ><span class="meditionDetail">Desloratadine (Clarinex)</span>
              </div>
              <div class="medition lsbRicon">
                <i class="fa fa-file-text-o" aria-hidden="true"></i
                ><span class="meditionDetail">Desloratadine (Clarinex)</span>
              </div>
              <div class="medition lsbRicon">
                <i class="fa fa-file-text-o" aria-hidden="true"></i
                ><span class="meditionDetail">Desloratadine (Clarinex)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
