<div class="tabDetails">
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Patient</th>
        <th>Type of appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10-02-2022</td>
        <td>10:00</td>
        <td>Sambit Patra</td>
        <td class="imgSeting"><img src="../../assets/images/videoIcon.png"> <span class="imgText">Video</span><span class="playIcon" data-toggle="modal" data-target="#exampleModal"><img src="../../assets/images/playIcon.png"></span></td>
      </tr>
      <tr>
        <td>10-02-2022</td>
        <td>10:00</td>
        <td>Sambit Patra</td>
        <td class="imgSeting"><img src="../../assets/images/offlineIcon.png"> <span class="imgText">Offline</span><span class="playIcon"><img src="../../assets/images/playIcon.png"></span></td>
      </tr>
	  <tr>
        <td>10-02-2022</td>
        <td>10:00</td>
        <td>Sambit Patra</td>
        <td class="imgSeting"><img src="../../assets/images/textIcon.png"> <span class="imgText">Text</span><span class="playIcon"><img src="../../assets/images/playIcon.png"></span></td>
      </tr>
	  <tr>
        <td>10-02-2022</td>
        <td>10:00</td>
        <td>Sambit Patra</td>
        <td class="imgSeting"><img src="../../assets/images/offlineIcon.png"> <span class="imgText">Offline</span><span class="playIcon"><img src="../../assets/images/playIcon.png"></span></td>
      </tr>
	  <tr>
        <td>10-02-2022</td>
        <td>10:00</td>
        <td>Sambit Patra</td>
        <td class="imgSeting"><img src="../../assets/images/phoneIcon.png"> <span class="imgText">Phone</span><span class="playIcon"><img src="../../assets/images/playIcon.png"></span></td>
      </tr>
    </tbody>
  </table>
	</div>