<!-- <div class="col-md-2 col-sm-12"> -->
  <div class="wishSide">
    <div class="wishDetais">
      <h4>Good morning</h4>
      <h3>Dr Gopal</h3>

      <div class="countPatients">
        <div class="pCount">146<i class="fa fa-users"></i></div>
        <div class="pDetails">
          <span class="paHead"
            >Patients <span class="perWithBack">+3%</span></span
          ><br />
          <span class="consulted">(Consulted)</span>
        </div>
      </div>
      <!--Patient Growth Trend start here -->
      <div style="clear: both"></div>
      <div class="headingPat">Patient Growth Trend</div>
      <div class="daywisePat">
        5<span class="dayWise">daily</span><span class="percentage">3%</span>
      </div>
      <div class="daywisePat">
        22<span class="dayWise">weekly</span><span class="percentage">3%</span>
      </div>
      <div class="daywisePat">
        83<span class="dayWise">monthly</span><span class="percentage">3%</span>
      </div>
      <div class="daywisePat">
        246<span class="dayWise">qrtly</span><span class="percentage">3%</span>
      </div>
      <!--Patient Growth Trend end here -->

      <!--Patient Growth Trend start here -->
      <div style="clear: both"></div>
      <div class="headingPat prescribed">Prescribed Tests Trend</div>
      <div class="daywisePat">
        100<span class="dayWise">Blood</span><span class="percentage">3%</span>
      </div>
      <div class="daywisePat">
        20<span class="dayWise">ECG</span><span class="percentage">3%</span>
      </div>
      <div class="daywisePat">
        10<span class="dayWise">MRI</span><span class="percentage">3%</span>
      </div>
      <div class="daywisePat">
        14<span class="dayWise">ECG</span><span class="percentage">3%</span>
      </div>
      <!--Patient Growth Trend end here -->
    </div>
  </div>
<!-- </div> -->
