<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-12">
      <app-profile></app-profile>
    </div>
    <div class="col-md-2 col-sm-12">
      <app-trending></app-trending>
    </div>
    <div class="col-md-8 col-sm-12 prescribed">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <app-chart></app-chart>
        </div>
        <div class="col-md-6 col-sm-12">
          <app-chart></app-chart>
        </div>
      </div>
      <div style="clear:both;"></div>
      <app-data-table></app-data-table>
    </div>
  </div>
</div>
